@import common
*
    background-color:#191724
    font-family: 'mononoki', sans-serif
    color:#ffffff
.title
    text-align: center
.subtitle
    text-align: center
body
    text-align: justify
    margin: auto
    max-width: 800px