@import common
@import url('https://api.fonts.coollabs.io/css2?family=Atkinson+Hyperlegible&display=swap')
.subtitle
    text-align: center
    color: $subtle
.post
    font-family: 'Atkinson Hyperlegible', sans-serif
    font-size: 16px
    h1, h2, h3, h4, h5, h6
        text-align: right
        color: $rose
    p
        text-align: justify
    a
        color: $foam
        text-decoration: underline
    .zola-anchor
        text-decoration: none
        font-size: 1em
        vertical-align: middle
        opacity: 50%
        &:hover
            opacity: 100%
    blockquote
        background-color: $surface
        font-size: 14px
        padding: 5px
        border-radius: 5px
    pre
        border-radius: 5px
        padding: 10px
    li::marker
        color: $rose
    table
        display: block
        max-width: fit-content
        overflow: scroll
        margin: auto
    tr:nth-child(odd)
        background: $surface
    tr:nth-child(even)
        background: $overlay
    th, td
        padding: 0.5em
    pre
        display: block
        overflow: scroll
