@import common
body
    background-color:#191724
    font-family: mononoki, sans-serif
    color:#e0def4
    margin: auto
    max-width: 800px
    padding: 20px
p
    font-family: Lexend Deca, sans-serif
    text-align: justify
a
    color:#e0def4
blockquote
    background-color:#1f1d2e
    font-size: 14px
    padding: 10px
    border-radius: 5px
pre
    border-radius: 5px
    padding: 10px
.title
    text-align: center
.subtitle
    text-align: center
    color:#403d52
    font-family: mononoki, sans-serif
img
    width: 10px
    float: right