@import common
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;800&display=swap');
*
    background-color:#8754B3
    text-align: justify
    text-align-last: center
    font-family: 'Lexend Deca', sans-serif
    color:#15003d
.belle
    margin-top: 32px
    width: 256px
    border-radius: 50%
.piuvas
    margin-top: 0
    margin-bottom: 0
    font-weight: 800
    font-size: 100px
.text
    margin: auto
    font-size: 16px
    max-width: 500px
    margin: auto
.icons
    padding: 5px
    display: inline-block
.terminal
    margin: auto
    background-color:#191724
    max-width: 500px
    border-radius: 10px
    text-align-last: left
%terminal-text
    background-color:#00000000
    color:#e0def4
    padding: 10px
    font-family: 'mononoki', sans-serif
    text-align-last: left
%inlining-bs
    display: inline-block
    padding: 0px
    padding-bottom: 10px
.terminal-text1
    @extend %terminal-text
.terminal-text2
    @extend %terminal-text
    @extend %inlining-bs
    padding-left: 10px
.cursor
    @extend %terminal-text
    @extend %inlining-bs

