@import common
@keyframes cursor
    from
        visibility: visible
    to
        visibility: hidden
.cursor
    animation: cursor 1s steps(2,start) infinite
.list
    .date
        color: $muted
.grid
    display: flex
    flex-wrap: wrap
    justify-content: center
    > *
        margin: 0.25em
        height: 128px
    > div
        border-bottom: 1px solid $low
.intro
    flex: 99 1 16em
    min-width: 16em
    text-align: justify
    padding: 0.5em
    height: calc(128px - 1em)
.social
    flex: 1 0 13em
    display: flex
    flex-flow: column wrap
    justify-content: space-evenly
    padding: 1em
    height: calc(128px - 2em)
.blog
    padding: 1em
    margin: 0.25em
.svg
    img
        vertical-align: middle
        width: 1em
.center
    text-align: center
.kbclub
    color: $foam
    text-align: center
    a
        color: $foam

