<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <title>$ piuvas_</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
    {% endblock %}
    {% block head %} {% endblock %}
    <meta property="og:site_name" content="$ piuvas_" />
</head>

<body>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>
</html>