{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="blog.css") }}">

<meta name="theme-color" content="#191724" />
<meta property="og:title" content="Blog" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:description" content="$ ls_" />
{% endblock head %}

{% block content %}
<nav>
    user@piuvas.net
    <a href="/">~</a>/<a href="/blog/">posts</a>
    <a href="{{ get_url(path="rss.xml")}}"><img src="{{ get_url(path="img/rss.svg") }}" /></a>
</nav>
<br>
<h1 class="title">
    {{ section.title }}<p class="cursor">_</p>
</h1>
<br>
<ul class="list">
    {% for page in section.pages %}
    . <a href="{{ page.permalink | safe }}">{{ page.slug }}.md</a> - {{ page.title }}
    <div>└── de {{ page.date }} • {{ page.reading_time }} min</div>
    <br>
    {% endfor %}
</ul>
<br>
<a href="/">$ cd ..</a>
{% endblock content %}