{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ get_url(path="blog.css")}}">
</head>
<nav>
    user@piuvas.net
    <a href="/">~</a>/<a href="/blog/">posts</a>
</nav>
<h1 class="title">
    {{ section.title }}<p class="cursor">_</p>
</h1>
<ul class="list">
    {% for page in section.pages %}
    > <a href="{{ page.permalink | safe }}">{{ page.slug }}.md</a> - <b></bold>{{ page.title }}</b>
    <p>| de {{ page.date }} • {{ page.reading_time }} min</p>
    <br>
    {% endfor %}
</ul>
<br>
<a href="/"><p>$ cd ..</p></a>
{% endblock content %}