{% extends "base.html" %}

{% block sass %}
<link rel="stylesheet" href="{{ get_url(path="intro.css")}}">
{% endblock sass %}

{% block content %}
<body>
    <a href="https://twitter.com/bjarkboof">
    <img src="img/belle0.png" alt="Icon made by @bjarkboof :)" class="picture"></img></a>
    <p class="piuvas">Piuvas</p>
    <p class="text">bem-vindo ao meu site :)</p> <br>
    <p class="text">ele serve pra deixar algumas informações de contato e eu também escrevo um blog sobre qualquer coisa que vier na cabeça então não espere nada de mais</p>
    <a href="/blog/" style="text-decoration:none;"><div class="terminal">
        <p class="terminal-text1">> acesse meu blog</p>
        <p class="terminal-text2">user@piuvas.net ~ $ cd posts/</p><p class="cursor">_</p>
    </div></a>
    <br>
    <nav class="icons">
            <a href="mailto:mail@piuvas.net" alt="E-Mail">
            <img src="img/mail.svg"width=38px></img></a>
            <a rel="me" href="https://eldritch.cafe/@piuvas" alt="Fediverse">
            <img src="img/mastodon.svg"width=32px></img></a>
            <a href="https://matrix.to/#/@piuvas:matrix.org" alt="Matrix">
            <img src="img/matrix.svg"width=32px></img></a>
        </nav>
    <div class="text">
        <p>ícones por <a href=https://simpleicons.org>simple-icons</a> e <a href=https://iconic.app>iconicicons</a>.</p>
        <p>paleta de cores <a href=https://rosepinetheme.com>rosé pine</a>.</p>
    </div>
    <div class="icons">
        <a href="https://github.com/derspyy/piuvas.net" alt="Source Code">
        <img src="img/github.svg"width=32px></img></a>
    </div>
</body>
{% endblock content %}