{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="intro.css") }}">

<meta name="theme-color" content="#8754B3" />
<meta property="og:title" content="Piuvas" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:description" content="bem-vindo ao meu site :)" />
{% endblock head %}

{% block content %}

<nav>
    user@piuvas.net ~
</nav>
<br>
<div class="grid">
    <picture>
        <source srcset="img/capivara.avif"/>
        <img src="img/capivara.png" alt="Imagem de uma capivara com dithering"/>
    </picture>
    <div class="social">
        <div class="svg"><img src="img/discord.svg" alt="Discord"/>
        piuvas#6132
        </div>

        <div class="svg"><img src="img/mail-plus.svg" alt="E-Mail"/>
        <a href="mailto:mail@piuvas.net">
        mail@piuvas.net
        </a>
        </div>

        <div class="svg"><img src="img/mastodon.svg" alt="Mastodon"/>
        <a href="https://eldritch.cafe/@piuvas">
        piuvas@eldritch.cafe
        </a>
        </div>

        <div class="svg"><img src="img/matrix.svg" alt="Matrix"/>
        <a href="https://matrix.to/#/@piuvas:matrix.org">
        piuvas@matrix.org
        </a>
        </div>
    </div>
    <div class="intro">
    esse site serve pra deixar algumas informações de contato e eu também escrevo um blog sobre qualquer coisa que vier na cabeça então não espere nada de mais
    </div>
</div>

<div class="blog">
    $ cd blog/
    <a href="{{ get_url(path="rss.xml")}}"><img class="rss" src="{{ get_url(path="img/rss.svg") }}" alt="Feed RSS" /></a>
    <h1 class="title">
        {{ section.title }}<span class="cursor">_</span>
    </h1>
    <br>
    <ul class="list">
        {% for page in section.pages %}
        . <a href="{{ page.permalink | safe }}">{{ page.slug }}.md</a> - {{ page.title }}
        <div class="date">└── de {{ page.date }} • {{ page.reading_time }} min</div>
        <br>
        {% endfor %}
    </ul>

</div>
<hr>
<p class="kbclub"><a href="https://www.512kb.club/">512kb club</a> - green team</p>
<p class="center"><a href="https://fediring.net/previous?host=piuvas.net"><</a> <a href="https://fediring.net">fediring</a> <a href="https://fediring.net/next?host=piuvas.net">></a></p>
<div class="center">
    <a href="https://github.com/derspyy/piuvas.net" class="svg">
        <img src="img/code-2.svg"/>
    </a>
</div>
{% endblock content %}
