{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="intro.css") }}">

<meta name="theme-color" content="#8754B3" />
<meta property="og:title" content="Piuvas" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:description" content="bem-vindo ao meu site :)" />
{% endblock head %}

{% block content %}


<div class="terminal">
    <p class="terminal-text">user@piuvas.net ~ $ cat index.html</p>
</div>
<img src="img/belle0.png" alt="Desenho da Belle do Petscop por @bjarkboof" class="picture"></img>
<p class="piuvas">piuvas</p>
<p>bem-vindo ao meu site :)</p>
<p>piuvas e so uma palavra que eu achei engraçada</p>
<p>esse site serve pra deixar algumas informações de contato e eu também escrevo um blog sobre qualquer coisa que vier na cabeça então não espere nada de mais</p>
<a href="mailto:mail@piuvas.net" alt="E-Mail" class="icons">
<img src="img/mail.svg"width=32px></img></a>
<a rel="me" href="https://eldritch.cafe/@piuvas" alt="Mastodon" class="icons">
<img src="img/mastodon.svg"width=32px></img></a>
<a href="https://matrix.to/#/@piuvas:matrix.org" alt="Matrix" class="icons">
<img src="img/matrix.svg"width=32px></img></a>
<a href="/blog/" style="text-decoration:none;"><div class="terminal">
    <p class="terminal-text">user@piuvas.net ~ $ cd blog/<span class="cursor">_</span></p>
</div></a>
<div class="creds">
    <p>ícones por <a href=https://lucide.dev>lucide</a> e <a href=https://iconic.app>iconicicons</a>.</p>
    <p>desenho da belle pelo <a href=https://twitter.com/bjarkboof>archer</a>.</p>
    <p>paleta de cores <a href=https://rosepinetheme.com>rosé pine</a>.</p>
</div>
<div class="creds">
    <a href="https://github.com/derspyy/piuvas.net" alt="Source Code">
    <img src="img/github.svg"width=32px></img></a>
</div>
{% endblock content %}